/* Nicely justify paragraphs */
p {
    text-align: justify;
}

/* Hide captions for TOCs, but only if it is in the page content */
div.toctree-wrapper>p.caption>span.caption-text {
    display: none;
}

/* Fix scrollbar from appearing in block math text */
div.math-wrapper {
    padding-bottom: 1em;
}